<div class="login"><!-- Classe para estilizar toda página de login -->
  <div class="fundo">
    <picture >
      <source media="(max-width:700px)" srcset="assets/imgs/fundo_p.png" type="image/png">
      <source media="(max-width:1000px)" srcset="assets/imgs/fundo_m.png" type="image/png">
      <img src="assets/imgs/fundo.png" alt="Parede de concreto">
    </picture>
  </div>

  <div class="container">  
    <div class="logo"><img src="assets/imgs/logo_ordo.png" alt="">
    
    <img src="assets/imgs/simbolo.png" alt="" class="sim">
    </div>
</div>

</div>
